@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FA Sysfont C';
  src: url('fonts/sysfont.woff2') format('woff2'), url('fonts/sysfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'W95FA';
  src: url('fonts/W95FA.woff2') format('woff2'), url('fonts/W95FA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'FA Sysfont C', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  image-rendering: pixelated;
}

.crt-effect {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  background-size: 100% 3px, 2px 100%;
}
